<h2>Book Copy</h2>
<div class="card" style="width: 18rem;">
  <div class="card-header">
    Book:
    <a href="#" hx-get="<%= bookInstance.book.url %>">
      <%= bookInstance.book.title %>
    </a>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
        Imprint: <%= bookInstance.imprint %>
    </li>
    <li class="list-group-item">Status: <%= bookInstance.status %></li>
    <% if (bookInstance.status === "Loaned" ) { %>
    <li class="list-group-item">
        <small>Due: <%= bookInstance.due_back_formatted %></small>
    </li>
    <% } %>
  </ul>
</div>
