<div class="row">
  <div class="col">
    <div>
      <u>Books</u>: <%= numBooks %>
    </div>
    <div>
      <u>Book Copies</u>: <%= numBookInstances %> <br>
    </div>
    <div>
      <u>Available</u>: <%= numAvailableBookInstances %>
    </div>
    <div>
      <u>Authors</u>: <%= numAuthors %>
    </div>
    <div>
      <u>Genres</u>: <%= numGenres %>
    </div>
  </div>
</div>
