<div class="row">
  <div class="col">
    <u>Books</u>: <%= numBooks %>
  </div>
  <div class="col">
    <u>Book Copies</u>: <%= numBookInstances %> <br>
      <u>Available</u>: <%= numAvailableBookInstances %>
  </div>
  <div class="col">
    <u>Authors</u>: <%= numAuthors %>
  </div>
  <div class="col">
    <u>Genres</u>: <%= numGenres %>
  </div>
</div>
